body {
    position: relative;
}
#my_dataviz {
    width: 50%;
    float: left;
}

#legend {
    margin-top: 100px;
    width: 50%;
    float: right;
}

text {
    font-size: 9px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #054d29;
    shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    width: 1F70px;
    height: 3F8px;
    pointer-events: none;
    font-family: 'Roboto', sans-serif;
}