@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Roboto:wght@300&display=swap");

* {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mate SC", serif;
}

/* #fullpage {
    height: 100vh;
    overflow:hidden;
}

#fullpage section {
    height: 100vh;
} */

h3,
h4,
h5,
p,
text,
li {
    font-family: "Roboto", sans-serif;
}



#main-content {
    background: #ff4a4a;
    width: 50%;
    height: 100vh;
    float: left;
}

#main-content img {
    margin-left: 20%;
    margin-top: 20%;
}

#side-details {
    width: 50%;
    height: 90%;
    position: relative;
    float: right;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
}


h1#main-topic {
    color: #f2f2f2;
    font-size: 75px;
    line-height: 74px;
    font-weight: 700;
    margin: 20px;
}

h2#punchline {
    color: #f2f2f2;
    font-size: 35px;
    line-height: 34px;
    font-weight: 300;
    margin: 20px;
}

