#Plotting_G1_G2{
    width: 50%; /* set width to 50% of page width */
    float: left; /* Make the element go to the left */
}

#Plotting_G2_G3{
    width: 50%;
    float: right;
}

li {
    line-height: 30px;
}